*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    #parent{
        height: 738px;     
        background-color: rgb(200, 164, 72);
    }

    #parent>div>img#img1{
        height: 150px;
        width: 320px;
        position: absolute;
        left: 12px;
        top: 14px;
        border-radius: 4px;
    }

    #parent>div#box1{
        height: 400px;
        width: 350px;
        right: 120px;
        top: 200px;
        right:120px;
        left: 550px;
        position: relative;
        background-color: white;
        border: 3px solid ;
        border-radius: 10px;
        box-shadow: 6px 6px 2px 0px black;
    }

    #parent>div>h4#l1{
        height: 22px;
        width: 70px;
        position: absolute;
        left: 15px;
        top: 175px; 
        color: black;
        background-color: rgb(200, 164, 72);
        padding: 2px;
        border-radius: 2px;

    }

    #parent>div>h6#l2{

        height: 22px;
        width: 500px;
        position: relative;
        left: 15px;
        top: 190px; 

    }

     #parent>div>h3#l3{

        height: 22px;
        width: 500px;
        position: relative;
        left: 16px;
        top: 200px; 

    }

     #parent>div>h5#l4{
        height: 100px;
        width: 305px;
        position: relative;
        left: 20px;
        top: 220px; 

    }

    #parent>div>img#img2{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        position: relative;
        left: 20px;
        top: 180px;
    }

    #parent>div>span#l5{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        position: relative;
        left: 70px;
        top: 150px;
    }
